.buttons {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    gap: 3%;
}

.deck-contents-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.comments {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    width: 100%;
}

#comment {
    margin-top: 14px;
}

.cards-rows {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 20px;
}

.card {
    width: 24%;
    height: 100%;
}

#cardComments {
    width: 65%;
    height: 100%;
}

#mat-input-0 {
    word-wrap: break-word;
}
