<mat-toolbar class="section-header">
    <h2>Random Card</h2>
  </mat-toolbar>

<div class="card-container">
    <div class="buttons">
        <button mat-raised-button=""
        class="mdc-button mdc-button--raised mat-mdc-raised-button mat-primary mat-mdc-button-base" id="rndBut"
        (click)="generateRandomCard()">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="loop"></mat-icon>
        <span class="mdc-buttonlabel">Generate Random Card</span>
      </button>
      
      <button mat-raised-button=""
        class="mdc-button mdc-button--raised mat-mdc-raised-button mat-primary mat-mdc-button-base" id="favBut"
        (click)="addFavorites()">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
        <span class="mdc-buttonlabel">Add to Favorites</span>
      </button>
    </div>

    <app-card [card]="randomCard"></app-card>

</div>
