<mat-toolbar class="header">
    <div style="display:flex; flex-direction: row;">
        <img class="magic-logo" clickcable="true" routerLink="/" src= "/assets/logo-magic.png">
        <a routerLink="/" class="logo">
            <span>Magic: The Gathering </span>
            <span>Card Generator</span>
        </a>
    </div>


    <div *ngIf="!register; else noRegister" class="user">
        <span>USERNAME</span>
        <div class="user-img">
            <img src="assets/user.svg" alt="">
        </div>
    </div>
    <ng-template #noRegister>
        <div class="links">
            <a routerLink="">Sign up</a>
            <a routerLink="">Log in</a>
        </div>
    </ng-template>
</mat-toolbar>
