<mat-toolbar class="section-header">
    <h2>Favorites Cards</h2>
    <app-autocomplete (filteredOutput)="getFiltered($event)" [array]="cards"
      [control]="autocompleteControl" [filterProperty]="filterProperty"></app-autocomplete>
  </mat-toolbar>
  <div cdkDropList cdkDropListOrientation="horizontal" class="grid-list" *ngIf="filteredCards?.length != 0; else notFound" [cdkDropListData]="cards"
  (cdkDropListDropped)="drop($event)">
    <div cdkDrag class="card-container clickable draggable" *ngFor="let card of filteredCards; let i=index">
        <img class="delete-card clickable" (click)="onDelete(filteredCards[i])" src="assets/delete_button_template.svg"
        alt="Delete button" />
        <app-card cdkDragHandle routerLink="/favorites/{{card.id}}/details" [card]="filteredCards[i]"></app-card>
    </div>

  </div>
  <ng-template #notFound>
    <div class="card-not-found">
      <p>
        No card with name "{{ cutString(autocompleteControl.value!) }}" has been found
      </p>
      <div>
        <img class="card-img-not-found" src="assets/magic-card-back.jpg" alt="Not Found">
      </div>
    </div>
  </ng-template>
